{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
{% for obj in object_list %}

    <div class="col-xs-6 col-md-3">

    <div class="thumbnail">
           {% if obj.image %}
      <img src='{{ obj.image.url }}' class='img-responsive'/>
        {% endif %}
      <div class="caption">
          <!--{% url 'product:detail' id=obj.id %}-->
        <h3>  {{ obj.author }}<br><small> {{ obj.name }}</small></h3>
          <h4>{{ obj.price}} PLN</h4>
        <p></p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
        <a href="" class="btn btn-primary" role="button">Buy</a></p>
      </div>
    </div>
  </div>


{% endfor %}

</div>


{% endblock %}
